<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="wp80" />
  <package id="Caliburn.Micro.Start" version="1.5.2" targetFramework="wp80" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.0.7" targetFramework="wp80" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="wp80" />
  <package id="Ninject" version="3.0.2-unstable-9051" targetFramework="wp80" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp80" />
</packages>